main {
  height: 100%;
}

.language {
 font-size: 20px;
 text-align: right;
 margin-right: 20px;
}

.language a, a:link {
  text-decoration: none;
  color: var(--text-light);
  transition: all .6s;
}

.language a:hover {
  color: var(--primary-color);
}
  
.home-container{
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-light);
}

.text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.im-guilherme {
  display: flex;
  align-items: baseline;
  line-height: 1;
}

.im {
  padding-right: 28px;
  font-size: 24px;
  letter-spacing: 0.16em;
}

.guilherme {
  font-size: 64px;
  letter-spacing: 0.28em;
  margin: 0;
}

.web-developer p {
  font-size: 32px;
  letter-spacing: 0.25em;
  margin: 0;
  color: var(--primary-color);
}

.phrase {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  letter-spacing: 0.215em;
  line-height: 28px;
}

.phrase p {
  margin: 0;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 20px;
  align-items: center;
}

.image-container img {
  width: 373px;
  height: 373px;
  border: 1px rgba(255, 255, 255, 0.12) solid;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.12);
  filter: drop-shadow(4px 4px 20px rgba(0, 0, 0, 0.83));
  border-radius: 100%;
  margin-left: 8vh;
}

.im-guilherme-mobile {
  display: none;
}

.web-developer-mobile {
  display: none;
}

.icons-mobile {
  display: none;
}

.phrase-mobile  {
  display: none;
}

@media screen and (max-width:768px) {

  .language {
    display: none;
  }

  .text-container {
    display: none;
  }

  .home-container {
    flex-direction: column;
    height: 100vh;
  }

  .im-guilherme-mobile {
    display: flex;
    align-items: baseline;
    line-height: 1;
  }

  .im {
    font-size: 16px;
    padding-right: 0px;
    letter-spacing: 0.16em;
  }

  .guilherme {
    font-size: 32px;
  }

  .web-developer-mobile {
    display: flex;
  }

  .web-developer-mobile p {
    letter-spacing: 0.235em;
    margin: 0;
    color: var(--primary-color);
    font-size: 16px;
  }

  .image-container img {
    width: 255px;
    height: 256px;
    margin: 30px 0;
  }
  
  .phrase-mobile {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    letter-spacing: 0.07em;
  }

  .icons-mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .icons-mobile a svg{
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: space-around;
  }

}