.logo {
  color: var(--primary-color);
  font-family: Zen Dots , cursive;
  font-size: 64px;
  letter-spacing: -0.295em;
  padding-bottom: 17px;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.67);
}

@media screen and ( max-width : 768px ) {

  .logo {
    display: none;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;500&family=Zen+Dots&display=swap') ;
