@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;500&family=Zen+Dots&display=swap');

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  font-size: 32px;
  margin: 0;
  margin-top: 32px;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-light);
  text-shadow: 0px 2px 2px black;
  transition: all .6s;
}

.nav-links li a:hover, .active{
  color: var(--primary-color);
  font-size: 40px;
}

.nav-links li .active {
  color: var(--primary-color);
  font-size: 40px;
}

.nav-links li .inactive {
  filter: blur(2px)
}

.nav-links li .inactive:hover {
  filter: blur(0px)
}

.menu-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .menu-mobile button {
    background-color: transparent;
    border: none;
  }

  .menu-mobile img {
    width: 40px;
    height: 40px;
    padding: 30px;
  }

  .logo-mobile {
    font-family: 'Zen Dots', cursive;
    font-size: 40px;
    letter-spacing: -0.295em;
    color: var(--primary-color);
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.67);
    padding: 30px;
  }

  .nav-links.mobile-open {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right: 0;
    width: 60%;
    height: 100%;
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 1;
    padding: 10px;
    opacity: 1;
    transition: all .3s ease;
  }

  .nav-links.mobile-close {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    right: 0;
    width: 0px;
    height: 100%;
    margin: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.884);
    z-index: 1;
    padding: 10px;
    opacity: 0;
    transition: all .3s ease;
  }

  @keyframes slideIn {
    from {
      right: -200px;
    }
    to {
      right: 0; /* Posição final (aberto na esquerda) */
    }
  }
  
  @keyframes slideOut {
    from {
      right: 0; /* Posição inicial (aberto na esquerda) */
    }
    to {
      right: -200px; /* Posição final (escondido na direita) */
    }
  }


  .nav-links a.inactive {
    filter: blur(0);
  }

}