@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;500&family=Zen+Dots&display=swap');

.footer {
  text-align: center;
  font-family: 'Zen Dots', cursive;
  font-size: 64px;
  padding-bottom: 17px;
  letter-spacing: -0.295em;
  color: var(--primary-color);
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.67);
}