@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@400;500&display=swap');

:root {
  --primary-color: #6E884C;
  --secondary-color: #ffff;
  --text-light: #ffff;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #2C353B 0%, #51613C 100%);
}

html, body {
  height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  font-family: 'Mohave', sans-serif;
}

button {
  font-family: 'Mohave', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
